.container {
    max-width: 550px;
    margin: auto;
    padding: 0 1rem;
}
textarea {
    width: 100%;
    height: 8rem;
}
button {
    margin: 2rem 0;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
}

/* creating css loader */

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}
#loading.display {
    visibility: visible;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
